*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    font-family: "Lato", sans-serif;;
}


div.app-container{
    padding-top: 30px;
    max-width: 1300px;
    margin: 0 auto;
    max-height: 1200px;
}
.flex{
    display: flex;
}
a{
    font-size: small;
    color: #5c98bb;
    text-decoration: underline;
}
img{
    width: 40px;
    border-radius: 50%;
}
aside.users{
    width: 400px;
    background-color: #ffffff;
    height: 900px;
}
.margin-right{
    margin-right: 1rem;
}

main.active-chat{
    width: calc(100% - 400px);
    max-height: 900px;
    background-color: burlywood;
}

header.aside-head{
    background-color: #eaeaea;
    justify-content: space-between;
    padding: 1rem;
    height: 70px;
}
div.notice{
    background-color: #8edafc;
    padding: 1rem;
    margin-bottom: .25rem;
}
.nav-chat div > input{
    width: 95%;
    padding: 0.5rem;
    border-radius: 0.5rem;

}
div.navbar-head{
    justify-content: center;
}

section.user-chat{
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
}

main header.main-header{
    justify-content: space-between;
    padding: 1rem;
    background-color: #eaeaea;
    height: 70px;
    width: 900px;
    position: fixed;

}
section.main-chat{
    background-image: url(../img/mine.jpg);
    height: calc(100% - 70px);
    overflow: auto;
    flex-direction: column;
    padding-top: 120px;
}
main footer{
    height: 70px;
    justify-content: space-between;
    width: 900px;
    position: fixed;

}
footer > input{
    width: 90%;
    padding: 0.5rem;
}
footer{
    padding: 1rem;
    background-color: #f3eeea;
    width: calc(100% - 400px);
}
footer > i {
    font-size: 30px;
    color: #6a7176;
}
div.icons i{
    margin-left: 1rem;
    font-size: 20px;
    color: #b1b1b1;
}
.bell{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
}

p{
    font-size: small;
    color: #bec0c6;
}

.user-msg{
    background-color: #d5f9ba;
    width: calc(50% - 3rem);
    align-self: end;
    border-radius: 2rem;
    margin-right: 3rem;
    padding: 1rem;
    vertical-align: middle;
}
.interlocutor-msg{
    background-color: #ffffff;
    width: calc(50% - 3rem);
    align-self: start;
    border-radius: 2rem;
    padding: 1rem;
    margin-left: 3rem;
    vertical-align: middle;
    
}