<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS-->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Vue3-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- FontAWS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- LatoFont-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app">
        <div class="app-container flex">
            <aside class="users">
                <header class="aside-head flex">
                    <div class="user-pic flex">
                        <img src="./img/avatar_io.jpg" alt="mine" class="margin-right ">
                        <h3>Sofia</h>
                    </div>
                    <div class="icons flex">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>

                <section class="nav-chat">
                    <div class="notice flex" >
                        <img src="./img/bell.png" alt="" class="margin-right">
                        <div>
                            <p>Ricevi notifiche di nuovi messaggi </p>
                            <a href="#">Attiva notifiche desktop </a>
                        </div>
                    </div>
                    <div class="navbar-head flex">
                        <input type="text" placeholder="Ricerca Contatti" v-model="searchInput">
                    </div>
                    
                </section>

                <section class="user-chat flex" v-for="(item , index) in contacts" @click="selectContact(index)">
                    <div class="flex">
                        <img :src="item.avatar" alt="tizio2" class="margin-right"> 
                        <div class="message">
                            <h3>{{item.name}}</h3>
                            <p>Ultimo messaggio inviato</p>
                        </div>
                    </div>
                    <p class="hours">12:00</p>
                </section>
            </aside>
            
            <main class="active-chat">
                <header class="main-header flex" >
                    <section class="flex" v-if="selectedContact">
                        <img :src="selectedContact.avatar" alt="tizio2" class="margin-right"> 
                        <div>
                            <h3>{{selectedContact.name}}</h3>
                            <p>Ultimo accesso oggi alle 12:00</p>
                        </div>
                    </section>
                    <div class="icons flex">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>

                <section class="main-chat">
                    <div v-if="selectedContact">
                        <div v-for="message in selectedContact.messages" class="flex">
                            <div v-if="message.status === 'sent'" class="user-msg flex">
                                <span>{{ message.message }}</span>
                                <strong>{{ message.date }}</strong>
                            </div>
                            <div v-else-if="message.status === 'received'" class="interlocutor-msg flex">
                                    <span>{{ message.message }}</span>
                                    <strong>{{ message.date }}</strong>
                            </div>
                        </div>
                    </div>
                </section>

                <footer class="flex">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text"   v-model="newMessage" placeholder="Search" @keyup.enter="sendMessage()">
                    <i class="fa-solid fa-microphone"></i>
                </footer>
            </main>
        </div>
    </div>
    
    
    
    
    <!-- JS -->
    <script src="./js/script.js"></script>
</body>
</html>